@layer sui.enabled {
  @scope (.SuiButtonBase) {
    :scope {
      /*
       * Root
       * --SuiButtonBase-text
       * --SuiButtonBase-hover
       * --SuiButtonBase-normal
       * --SuiButtonBase-active
       * --SuiButtonBase-ringColor
       */

      color: var(--SuiButtonBase-text);
      cursor: pointer;
      display: inline-block;
      background: var(--SuiButtonBase-normal);
      user-select: none;

      @media (any-hover: hover) {
        &:hover {
          background: var(--SuiButtonBase-hover);
        }
      }

      &:active {
        background: var(--SuiButtonBase-active);
      }

      &:focus-visible {
        outline: solid var(--sui-ring-focus-color) var(--sui-ring-focus-visible);
        outline-offset: var(--sui-ring-focus-visible);
      }

      &.Sui-variant-solid {
        --SuiButtonBase-text: var(--sui-color-canvas-main);

        &.Sui-color-grey {
          --SuiButtonBase-normal: var(--sui-color-grey-solid-normal);
          --SuiButtonBase-hover:  var(--sui-color-grey-solid-hover);
          --SuiButtonBase-active: var(--sui-color-grey-solid-active);
        }

        &.Sui-color-blue {
          --SuiButtonBase-normal: var(--sui-color-blue-solid-normal);
          --SuiButtonBase-hover:  var(--sui-color-blue-solid-hover);
          --SuiButtonBase-active: var(--sui-color-blue-solid-active);
        }

        &.Sui-color-lightBlue {
          --SuiButtonBase-normal: var(--sui-color-lightBlue-solid-normal);
          --SuiButtonBase-hover:  var(--sui-color-lightBlue-solid-hover);
          --SuiButtonBase-active: var(--sui-color-lightBlue-solid-active);
        }

        &.Sui-color-green {
          --SuiButtonBase-normal: var(--sui-color-green-solid-normal);
          --SuiButtonBase-hover:  var(--sui-color-green-solid-hover);
          --SuiButtonBase-active: var(--sui-color-green-solid-active);
        }

        &.Sui-color-yellow {
          --SuiButtonBase-normal: var(--sui-color-yellow-solid-normal);
          --SuiButtonBase-hover:  var(--sui-color-yellow-solid-hover);
          --SuiButtonBase-active: var(--sui-color-yellow-solid-active);
        }

        &.Sui-color-red {
          --SuiButtonBase-normal: var(--sui-color-red-solid-normal);
          --SuiButtonBase-hover:  var(--sui-color-red-solid-hover);
          --SuiButtonBase-active: var(--sui-color-red-solid-active);
        }

        &.Sui-color-brand {
          --SuiButtonBase-normal: var(--sui-color-brand-solid-normal);
          --SuiButtonBase-hover:  var(--sui-color-brand-solid-hover);
          --SuiButtonBase-active: var(--sui-color-brand-solid-active);
        }

        &.Sui-color-neutral {
          --SuiButtonBase-normal: var(--sui-color-neutral-solid-normal);
          --SuiButtonBase-hover:  var(--sui-color-neutral-solid-hover);
          --SuiButtonBase-active: var(--sui-color-neutral-solid-active);
        }

        &.Sui-color-info {
          --SuiButtonBase-normal: var(--sui-color-info-solid-normal);
          --SuiButtonBase-hover:  var(--sui-color-info-solid-hover);
          --SuiButtonBase-active: var(--sui-color-info-solid-active);
        }

        &.Sui-color-error {
          --SuiButtonBase-normal: var(--sui-color-error-solid-normal);
          --SuiButtonBase-hover:  var(--sui-color-error-solid-hover);
          --SuiButtonBase-active: var(--sui-color-error-solid-active);
        }

        &.Sui-color-warning {
          --SuiButtonBase-normal: var(--sui-color-warning-solid-normal);
          --SuiButtonBase-hover:  var(--sui-color-warning-solid-hover);
          --SuiButtonBase-active: var(--sui-color-warning-solid-active);
        }

        &.Sui-color-success {
          --SuiButtonBase-normal: var(--sui-color-success-solid-normal);
          --SuiButtonBase-hover:  var(--sui-color-success-solid-hover);
          --SuiButtonBase-active: var(--sui-color-success-solid-active);
        }
      }

      &.Sui-variant-naked {
        &.Sui-color-grey {
          --SuiButtonBase-text:   var(--sui-color-grey-text-lc);
          --SuiButtonBase-normal: var(--sui-color-grey-naked-normal);
          --SuiButtonBase-hover:  var(--sui-color-grey-naked-hover);
          --SuiButtonBase-active: var(--sui-color-grey-naked-active);
        }

        &.Sui-color-blue {
          --SuiButtonBase-text:   var(--sui-color-blue-text-lc);
          --SuiButtonBase-normal: var(--sui-color-blue-naked-normal);
          --SuiButtonBase-hover:  var(--sui-color-blue-naked-hover);
          --SuiButtonBase-active: var(--sui-color-blue-naked-active);
        }

        &.Sui-color-lightBlue {
          --SuiButtonBase-text:   var(--sui-color-lightBlue-text-lc);
          --SuiButtonBase-normal: var(--sui-color-lightBlue-naked-normal);
          --SuiButtonBase-hover:  var(--sui-color-lightBlue-naked-hover);
          --SuiButtonBase-active: var(--sui-color-lightBlue-naked-active);
        }

        &.Sui-color-green {
          --SuiButtonBase-text:   var(--sui-color-green-text-lc);
          --SuiButtonBase-normal: var(--sui-color-green-naked-normal);
          --SuiButtonBase-hover:  var(--sui-color-green-naked-hover);
          --SuiButtonBase-active: var(--sui-color-green-naked-active);
        }

        &.Sui-color-yellow {
          --SuiButtonBase-text:   var(--sui-color-yellow-text-lc);
          --SuiButtonBase-normal: var(--sui-color-yellow-naked-normal);
          --SuiButtonBase-hover:  var(--sui-color-yellow-naked-hover);
          --SuiButtonBase-active: var(--sui-color-yellow-naked-active);
        }

        &.Sui-color-red {
          --SuiButtonBase-text:   var(--sui-color-red-text-lc);
          --SuiButtonBase-normal: var(--sui-color-red-naked-normal);
          --SuiButtonBase-hover:  var(--sui-color-red-naked-hover);
          --SuiButtonBase-active: var(--sui-color-red-naked-active);
        }

        &.Sui-color-brand {
          --SuiButtonBase-text:   var(--sui-color-brand-text-lc);
          --SuiButtonBase-normal: var(--sui-color-brand-naked-normal);
          --SuiButtonBase-hover:  var(--sui-color-brand-naked-hover);
          --SuiButtonBase-active: var(--sui-color-brand-naked-active);
        }

        &.Sui-color-neutral {
          --SuiButtonBase-text:   var(--sui-color-neutral-text-hc);
          --SuiButtonBase-normal: var(--sui-color-neutral-naked-normal);
          --SuiButtonBase-hover:  var(--sui-color-neutral-naked-hover);
          --SuiButtonBase-active: var(--sui-color-neutral-naked-active);
        }

        &.Sui-color-info {
          --SuiButtonBase-text:   var(--sui-color-info-text-lc);
          --SuiButtonBase-normal: var(--sui-color-info-naked-normal);
          --SuiButtonBase-hover:  var(--sui-color-info-naked-hover);
          --SuiButtonBase-active: var(--sui-color-info-naked-active);
        }

        &.Sui-color-error {
          --SuiButtonBase-text:   var(--sui-color-error-text-lc);
          --SuiButtonBase-normal: var(--sui-color-error-naked-normal);
          --SuiButtonBase-hover:  var(--sui-color-error-naked-hover);
          --SuiButtonBase-active: var(--sui-color-error-naked-active);
        }

        &.Sui-color-warning {
          --SuiButtonBase-text:   var(--sui-color-warning-text-lc);
          --SuiButtonBase-normal: var(--sui-color-warning-naked-normal);
          --SuiButtonBase-hover:  var(--sui-color-warning-naked-hover);
          --SuiButtonBase-active: var(--sui-color-warning-naked-active);
        }

        &.Sui-color-success {
          --SuiButtonBase-text:   var(--sui-color-success-text-lc);
          --SuiButtonBase-normal: var(--sui-color-success-naked-normal);
          --SuiButtonBase-hover:  var(--sui-color-success-naked-hover);
          --SuiButtonBase-active: var(--sui-color-success-naked-active);
        }
      }

      &.Sui-variant-liquid {
        &.Sui-color-grey {
          --SuiButtonBase-text:   var(--sui-color-grey-text-lc);
          --SuiButtonBase-normal: var(--sui-color-grey-liquid-normal);
          --SuiButtonBase-hover:  var(--sui-color-grey-liquid-hover);
          --SuiButtonBase-active: var(--sui-color-grey-liquid-active);
        }

        &.Sui-color-blue {
          --SuiButtonBase-text:   var(--sui-color-blue-text-lc);
          --SuiButtonBase-normal: var(--sui-color-blue-liquid-normal);
          --SuiButtonBase-hover:  var(--sui-color-blue-liquid-hover);
          --SuiButtonBase-active: var(--sui-color-blue-liquid-active);
        }

        &.Sui-color-lightBlue {
          --SuiButtonBase-text:   var(--sui-color-lightBlue-text-lc);
          --SuiButtonBase-normal: var(--sui-color-lightBlue-liquid-normal);
          --SuiButtonBase-hover:  var(--sui-color-lightBlue-liquid-hover);
          --SuiButtonBase-active: var(--sui-color-lightBlue-liquid-active);
        }

        &.Sui-color-green {
          --SuiButtonBase-text:   var(--sui-color-green-text-lc);
          --SuiButtonBase-normal: var(--sui-color-green-liquid-normal);
          --SuiButtonBase-hover:  var(--sui-color-green-liquid-hover);
          --SuiButtonBase-active: var(--sui-color-green-liquid-active);
        }

        &.Sui-color-yellow {
          --SuiButtonBase-text:   var(--sui-color-yellow-text-lc);
          --SuiButtonBase-normal: var(--sui-color-yellow-liquid-normal);
          --SuiButtonBase-hover:  var(--sui-color-yellow-liquid-hover);
          --SuiButtonBase-active: var(--sui-color-yellow-liquid-active);
        }

        &.Sui-color-red {
          --SuiButtonBase-text:   var(--sui-color-red-text-lc);
          --SuiButtonBase-normal: var(--sui-color-red-liquid-normal);
          --SuiButtonBase-hover:  var(--sui-color-red-liquid-hover);
          --SuiButtonBase-active: var(--sui-color-red-liquid-active);
        }

        &.Sui-color-brand {
          --SuiButtonBase-text:   var(--sui-color-brand-text-lc);
          --SuiButtonBase-normal: var(--sui-color-brand-liquid-normal);
          --SuiButtonBase-hover:  var(--sui-color-brand-liquid-hover);
          --SuiButtonBase-active: var(--sui-color-brand-liquid-active);
        }

        &.Sui-color-neutral {
          --SuiButtonBase-text:   var(--sui-color-neutral-text-hc);
          --SuiButtonBase-normal: var(--sui-color-neutral-liquid-normal);
          --SuiButtonBase-hover:  var(--sui-color-neutral-liquid-hover);
          --SuiButtonBase-active: var(--sui-color-neutral-liquid-active);
        }

        &.Sui-color-info {
          --SuiButtonBase-text:   var(--sui-color-info-text-lc);
          --SuiButtonBase-normal: var(--sui-color-info-liquid-normal);
          --SuiButtonBase-hover:  var(--sui-color-info-liquid-hover);
          --SuiButtonBase-active: var(--sui-color-info-liquid-active);
        }

        &.Sui-color-error {
          --SuiButtonBase-text:   var(--sui-color-error-text-lc);
          --SuiButtonBase-normal: var(--sui-color-error-liquid-normal);
          --SuiButtonBase-hover:  var(--sui-color-error-liquid-hover);
          --SuiButtonBase-active: var(--sui-color-error-liquid-active);
        }

        &.Sui-color-warning {
          --SuiButtonBase-text:   var(--sui-color-warning-text-lc);
          --SuiButtonBase-normal: var(--sui-color-warning-liquid-normal);
          --SuiButtonBase-hover:  var(--sui-color-warning-liquid-hover);
          --SuiButtonBase-active: var(--sui-color-warning-liquid-active);
        }

        &.Sui-color-success {
          --SuiButtonBase-text:   var(--sui-color-success-text-lc);
          --SuiButtonBase-normal: var(--sui-color-success-liquid-normal);
          --SuiButtonBase-hover:  var(--sui-color-success-liquid-hover);
          --SuiButtonBase-active: var(--sui-color-success-liquid-active);
        }
      }

      &.Sui-outlined {
        border: solid var(--SuiButtonBase-ringColor) var(--sui-ring-button);

        &.Sui-variant-solid {
          &.Sui-color-grey      { --SuiButtonBase-ringColor: var(--sui-color-grey-ring-hc);      }
          &.Sui-color-blue      { --SuiButtonBase-ringColor: var(--sui-color-blue-ring-hc);      }
          &.Sui-color-lightBlue { --SuiButtonBase-ringColor: var(--sui-color-lightBlue-ring-hc); }
          &.Sui-color-green     { --SuiButtonBase-ringColor: var(--sui-color-green-ring-hc);     }
          &.Sui-color-yellow    { --SuiButtonBase-ringColor: var(--sui-color-yellow-ring-hc);    }
          &.Sui-color-red       { --SuiButtonBase-ringColor: var(--sui-color-red-ring-hc);       }
          &.Sui-color-brand     { --SuiButtonBase-ringColor: var(--sui-color-brand-ring-hc);     }
          &.Sui-color-neutral   { --SuiButtonBase-ringColor: var(--sui-color-neutral-ring-hc);   }
          &.Sui-color-info      { --SuiButtonBase-ringColor: var(--sui-color-info-ring-hc);      }
          &.Sui-color-error     { --SuiButtonBase-ringColor: var(--sui-color-error-ring-hc);     }
          &.Sui-color-warning   { --SuiButtonBase-ringColor: var(--sui-color-warning-ring-hc);   }
          &.Sui-color-success   { --SuiButtonBase-ringColor: var(--sui-color-success-ring-hc);   }
        }

        &.Sui-variant-naked,
        &.Sui-variant-liquid {
          &.Sui-color-grey      { --SuiButtonBase-ringColor: var(--sui-color-grey-ring-lc);      }
          &.Sui-color-blue      { --SuiButtonBase-ringColor: var(--sui-color-blue-ring-lc);      }
          &.Sui-color-lightBlue { --SuiButtonBase-ringColor: var(--sui-color-lightBlue-ring-lc); }
          &.Sui-color-green     { --SuiButtonBase-ringColor: var(--sui-color-green-ring-lc);     }
          &.Sui-color-yellow    { --SuiButtonBase-ringColor: var(--sui-color-yellow-ring-lc);    }
          &.Sui-color-red       { --SuiButtonBase-ringColor: var(--sui-color-red-ring-lc);       }
          &.Sui-color-brand     { --SuiButtonBase-ringColor: var(--sui-color-brand-ring-lc);     }
          &.Sui-color-neutral   { --SuiButtonBase-ringColor: var(--sui-color-neutral-ring-lc);   }
          &.Sui-color-info      { --SuiButtonBase-ringColor: var(--sui-color-info-ring-lc);      }
          &.Sui-color-error     { --SuiButtonBase-ringColor: var(--sui-color-error-ring-lc);     }
          &.Sui-color-warning   { --SuiButtonBase-ringColor: var(--sui-color-warning-ring-lc);   }
          &.Sui-color-success   { --SuiButtonBase-ringColor: var(--sui-color-success-ring-lc);   }
        }
      }

      &.Sui-loading {
        color: var(--SuiButtonBase-text) !important;
        cursor: not-allowed !important;
        background: var(--SuiButtonBase-normal) !important;
      }
    }
  }
}

@layer sui.disabled {
  @scope (.SuiButtonBase) {
    :scope:not(.Sui-loading):is(:disabled, [disabled], [data-disabled]) {
      cursor: not-allowed !important;
      outline: none !important;

      &.Sui-variant-solid {
        color: var(--sui-color-canvas-main) !important;
        background: var(--sui-color-canvas-disabled) !important;
      }

      &.Sui-variant-naked,
      &.Sui-variant-liquid {
        color: var(--sui-color-text-disabled) !important;
        background: transparent !important;
      }

      &.Sui-outlined {
        border:
          solid
          var(--sui-color-text-disabled)
          var(--sui-ring-disabled) !important;
      }
    }
  }
}
