@layer sui.enabled {
  @scope (.SuiLoader) {
    :scope {
      /*
       * Root
       * --SuiLoader-color
       */

      color: var(--SuiLoader-color);

      &.Sui-color-inherit     { --SuiLoader-color: currentColor;                      }
      &.Sui-color-body        { --SuiLoader-color: var(--sui-color-text-body);        }
      &.Sui-color-description { --SuiLoader-color: var(--sui-color-text-description); }
      &.Sui-color-canvas      { --SuiLoader-color: var(--sui-color-canvas-main);      }
      &.Sui-color-white       { --SuiLoader-color: var(--sui-color-white);            }
      &.Sui-color-black       { --SuiLoader-color: var(--sui-color-black);            }

      &.Sui-contrast-low {
        &.Sui-color-grey      { --SuiLoader-color: var(--sui-color-grey-text-lc);      }
        &.Sui-color-blue      { --SuiLoader-color: var(--sui-color-blue-text-lc);      }
        &.Sui-color-lightBlue { --SuiLoader-color: var(--sui-color-lightBlue-text-lc); }
        &.Sui-color-green     { --SuiLoader-color: var(--sui-color-green-text-lc);     }
        &.Sui-color-yellow    { --SuiLoader-color: var(--sui-color-yellow-text-lc);    }
        &.Sui-color-red       { --SuiLoader-color: var(--sui-color-red-text-lc);       }
        &.Sui-color-brand     { --SuiLoader-color: var(--sui-color-brand-text-lc);     }
        &.Sui-color-neutral   { --SuiLoader-color: var(--sui-color-neutral-text-lc);   }
        &.Sui-color-info      { --SuiLoader-color: var(--sui-color-info-text-lc);      }
        &.Sui-color-error     { --SuiLoader-color: var(--sui-color-error-text-lc);     }
        &.Sui-color-warning   { --SuiLoader-color: var(--sui-color-warning-text-lc);   }
        &.Sui-color-success   { --SuiLoader-color: var(--sui-color-success-text-lc);   }
      }

      &.Sui-contrast-high {
        &.Sui-color-grey      { --SuiLoader-color: var(--sui-color-grey-text-hc);      }
        &.Sui-color-blue      { --SuiLoader-color: var(--sui-color-blue-text-hc);      }
        &.Sui-color-lightBlue { --SuiLoader-color: var(--sui-color-lightBlue-text-hc); }
        &.Sui-color-green     { --SuiLoader-color: var(--sui-color-green-text-hc);     }
        &.Sui-color-yellow    { --SuiLoader-color: var(--sui-color-yellow-text-hc);    }
        &.Sui-color-red       { --SuiLoader-color: var(--sui-color-red-text-hc);       }
        &.Sui-color-brand     { --SuiLoader-color: var(--sui-color-brand-text-hc);     }
        &.Sui-color-neutral   { --SuiLoader-color: var(--sui-color-neutral-text-hc);   }
        &.Sui-color-info      { --SuiLoader-color: var(--sui-color-info-text-hc);      }
        &.Sui-color-error     { --SuiLoader-color: var(--sui-color-error-text-hc);     }
        &.Sui-color-warning   { --SuiLoader-color: var(--sui-color-warning-text-hc);   }
        &.Sui-color-success   { --SuiLoader-color: var(--sui-color-success-text-hc);   }
      }

      &.Sui-variant-dots {
        gap: 0.125em;
        display: inline-grid;
        align-items: center;
        grid-auto-flow: column;

        .SuiLoaderDot {
          width: 0.75em;
          height: 0.75em;
          display: inline-block;
          background: currentColor;
          border-radius: 50%;
        }

        .SuiLoaderDot:nth-child(1),
        .SuiLoaderDot:nth-child(3) {
          animation: sui-loader-dots1 0.6s infinite alternate linear;
        }

        .SuiLoaderDot:nth-child(2) {
          animation: sui-loader-dots2 0.6s infinite alternate linear;
        }
      }

      &.Sui-variant-spinner {
        width: 1em;
        height: 1em;
        display: inline-grid;
        place-items: center;

        .SuiLoaderSpinner {
          width: 100%;
          height: 100%;
          border: 0.125em solid currentColor;
          animation: sui-loader-spinner 0.6s infinite linear;
          border-radius: 50%;
          border-top-color: transparent;
        }
      }
    }
  }

  @keyframes sui-loader-dots1 {
    0%, 100% {
      transform: scale(1);
    }

    50% {
      transform: scale(0.3);
    }
  }

  @keyframes sui-loader-dots2 {
    0%, 100% {
      transform: scale(0.3);
    }

    50% {
      transform: scale(1);
    }
  }

  @keyframes sui-loader-spinner {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
