@layer sui.enabled {
  .SuiRadio {
    /*
     * Root
     * --SuiRadio-size
     * --SuiRadio-hover
     * --SuiRadio-active
     * --SuiRadio-normal
     * --SuiRadio-iconSize
     */

    --SuiRadio-radius: var(--sui-radius-full);

    display: inline-block;
    z-index: 0;
    position: relative;

    &.Sui-size-sm {
      --SuiRadio-size:     var(--sui-size-sm);
      --SuiRadio-iconSize: calc(var(--SuiRadio-size) * 0.6);
    }

    &.Sui-size-md {
      --SuiRadio-size:     var(--sui-size-md);
      --SuiRadio-iconSize: calc(var(--SuiRadio-size) * 0.5);
    }

    &.Sui-size-lg {
      --SuiRadio-size:     var(--sui-size-lg);
      --SuiRadio-iconSize: calc(var(--SuiRadio-size) * 0.5);
    }

    &.Sui-size-xl {
      --SuiRadio-size:     var(--sui-size-xl);
      --SuiRadio-iconSize: calc(var(--SuiRadio-size) * 0.5);
    }

    &:not(.Sui-inline) {
      width: var(--SuiRadio-size);
      height: var(--SuiRadio-size);
    }

    &.Sui-inline {
      width: var(--SuiRadio-iconSize);
      height: var(--SuiRadio-iconSize);
    }

    &.Sui-color-grey {
      --SuiRadio-normal: var(--sui-color-grey-naked-normal);
      --SuiRadio-hover:  var(--sui-color-grey-naked-hover);
      --SuiRadio-active: var(--sui-color-grey-naked-active);
      --SuiRadio-iconNormal: var(--sui-color-grey-solid-normal);
      --SuiRadio-iconHover:  var(--sui-color-grey-solid-hover);
      --SuiRadio-iconActive: var(--sui-color-grey-solid-active);
    }

    &.Sui-color-blue {
      --SuiRadio-normal: var(--sui-color-blue-naked-normal);
      --SuiRadio-hover:  var(--sui-color-blue-naked-hover);
      --SuiRadio-active: var(--sui-color-blue-naked-active);
      --SuiRadio-iconNormal: var(--sui-color-blue-solid-normal);
      --SuiRadio-iconHover:  var(--sui-color-blue-solid-hover);
      --SuiRadio-iconActive: var(--sui-color-blue-solid-active);
    }

    &.Sui-color-lightBlue {
      --SuiRadio-normal: var(--sui-color-lightBlue-naked-normal);
      --SuiRadio-hover:  var(--sui-color-lightBlue-naked-hover);
      --SuiRadio-active: var(--sui-color-lightBlue-naked-active);
      --SuiRadio-iconNormal: var(--sui-color-lightBlue-solid-normal);
      --SuiRadio-iconHover:  var(--sui-color-lightBlue-solid-hover);
      --SuiRadio-iconActive: var(--sui-color-lightBlue-solid-active);
    }

    &.Sui-color-green {
      --SuiRadio-normal: var(--sui-color-green-naked-normal);
      --SuiRadio-hover:  var(--sui-color-green-naked-hover);
      --SuiRadio-active: var(--sui-color-green-naked-active);
      --SuiRadio-iconNormal: var(--sui-color-green-solid-normal);
      --SuiRadio-iconHover:  var(--sui-color-green-solid-hover);
      --SuiRadio-iconActive: var(--sui-color-green-solid-active);
    }

    &.Sui-color-yellow {
      --SuiRadio-normal: var(--sui-color-yellow-naked-normal);
      --SuiRadio-hover:  var(--sui-color-yellow-naked-hover);
      --SuiRadio-active: var(--sui-color-yellow-naked-active);
      --SuiRadio-iconNormal: var(--sui-color-yellow-solid-normal);
      --SuiRadio-iconHover:  var(--sui-color-yellow-solid-hover);
      --SuiRadio-iconActive: var(--sui-color-yellow-solid-active);
    }

    &.Sui-color-red {
      --SuiRadio-normal: var(--sui-color-red-naked-normal);
      --SuiRadio-hover:  var(--sui-color-red-naked-hover);
      --SuiRadio-active: var(--sui-color-red-naked-active);
      --SuiRadio-iconNormal: var(--sui-color-red-solid-normal);
      --SuiRadio-iconHover:  var(--sui-color-red-solid-hover);
      --SuiRadio-iconActive: var(--sui-color-red-solid-active);
    }

    &.Sui-color-brand {
      --SuiRadio-normal: var(--sui-color-brand-naked-normal);
      --SuiRadio-hover:  var(--sui-color-brand-naked-hover);
      --SuiRadio-active: var(--sui-color-brand-naked-active);
      --SuiRadio-iconNormal: var(--sui-color-brand-solid-normal);
      --SuiRadio-iconHover:  var(--sui-color-brand-solid-hover);
      --SuiRadio-iconActive: var(--sui-color-brand-solid-active);
    }

    &.Sui-color-neutral {
      --SuiRadio-normal: var(--sui-color-neutral-naked-normal);
      --SuiRadio-hover:  var(--sui-color-neutral-naked-hover);
      --SuiRadio-active: var(--sui-color-neutral-naked-active);
      --SuiRadio-iconNormal: var(--sui-color-neutral-solid-normal);
      --SuiRadio-iconHover:  var(--sui-color-neutral-solid-hover);
      --SuiRadio-iconActive: var(--sui-color-neutral-solid-active);
    }

    &.Sui-color-info {
      --SuiRadio-normal: var(--sui-color-info-naked-normal);
      --SuiRadio-hover:  var(--sui-color-info-naked-hover);
      --SuiRadio-active: var(--sui-color-info-naked-active);
      --SuiRadio-iconNormal: var(--sui-color-info-solid-normal);
      --SuiRadio-iconHover:  var(--sui-color-info-solid-hover);
      --SuiRadio-iconActive: var(--sui-color-info-solid-active);
    }

    &.Sui-color-error {
      --SuiRadio-normal: var(--sui-color-info-naked-normal);
      --SuiRadio-hover:  var(--sui-color-info-naked-hover);
      --SuiRadio-active: var(--sui-color-info-naked-active);
      --SuiRadio-iconNormal: var(--sui-color-error-solid-normal);
      --SuiRadio-iconHover:  var(--sui-color-error-solid-hover);
      --SuiRadio-iconActive: var(--sui-color-error-solid-active);
    }

    &.Sui-color-warning {
      --SuiRadio-normal: var(--sui-color-warning-naked-normal);
      --SuiRadio-hover:  var(--sui-color-warning-naked-hover);
      --SuiRadio-active: var(--sui-color-warning-naked-active);
      --SuiRadio-iconNormal: var(--sui-color-warning-solid-normal);
      --SuiRadio-iconHover:  var(--sui-color-warning-solid-hover);
      --SuiRadio-iconActive: var(--sui-color-warning-solid-active);
    }

    &.Sui-color-success {
      --SuiRadio-normal: var(--sui-color-success-naked-normal);
      --SuiRadio-hover:  var(--sui-color-success-naked-hover);
      --SuiRadio-active: var(--sui-color-success-naked-active);
      --SuiRadio-iconNormal: var(--sui-color-success-solid-normal);
      --SuiRadio-iconHover:  var(--sui-color-success-solid-hover);
      --SuiRadio-iconActive: var(--sui-color-success-solid-active);
    }

    &:has(.SuiRadioInput:not(:checked)) {
      --SuiRadio-normal: var(--sui-color-grey-naked-normal);
      --SuiRadio-hover:  var(--sui-color-grey-naked-hover);
      --SuiRadio-active: var(--sui-color-grey-naked-active);
    }

    &::before {
      top: 50%;
      left: 50%;
      width: var(--SuiRadio-iconSize);
      height: var(--SuiRadio-iconSize);
      content: "";
      display: block;
      outline: solid var(--sui-color-grey-ring-lc) var(--sui-ring-md);
      position: absolute;
      transform: translateY(-50%) translateX(-50%);
      border-radius: var(--SuiRadio-radius);
      outline-offset: calc(-1 * var(--sui-ring-md));
      pointer-events: none;
    }

    &:has(.SuiRadioInput:checked) {
      &::before {
        outline-color: var(--SuiRadio-iconNormal);
      }

      &::after {
        background: var(--SuiRadio-iconNormal);
      }
    }

    @media (any-hover: hover) {
      &:has(.SuiRadioInput:checked:hover) {
        &::before {
          outline-color: var(--SuiRadio-iconHover);
        }
  
        &::after {
          background: var(--SuiRadio-iconHover);
        }
      }
    }

    &:has(.SuiRadioInput:checked:active) {
      &::before {
        outline-color: var(--SuiRadio-iconActive);
      }

      &::after {
        background: var(--SuiRadio-iconActive);
      }
    }

    &:has(.SuiRadioInput:checked)::after {
      top: 50%;
      left: 50%;
      width: calc(var(--SuiRadio-iconSize) * 0.4);
      height: calc(var(--SuiRadio-iconSize) * 0.4);
      content: "";
      display: block;
      position: absolute;
      transform: translateY(-50%) translateX(-50%);
      border-radius: var(--sui-radius-full);
      pointer-events: none;
    }

    /*
     * Input
     */

    .SuiRadioInput {
      top: 50%;
      left: 50%;
      width: var(--SuiRadio-size);
      cursor: pointer;
      height: var(--SuiRadio-size);
      z-index: -1;
      position: absolute;
      transform: translateY(-50%) translateX(-50%);
      background: var(--SuiRadio-normal);
      border-radius: var(--SuiRadio-radius);

      @media (any-hover: hover) {
        &:hover {
          background: var(--SuiRadio-hover);
        }
      }

      &:active {
        background: var(--SuiRadio-active);
      }

      &:focus-visible {
        outline: solid var(--sui-ring-focus-color) var(--sui-ring-focus-visible);
        outline-offset: var(--sui-ring-focus-visible);
      }
    }
  }
}

@layer sui.disabled {
  .SuiRadio:has(.SuiRadioInput:is(:disabled, [disabled])) {
    &::before {
      outline: solid var(--sui-color-text-disabled) var(--sui-ring-md) !important;
      outline-offset: calc(-1 * var(--sui-ring-md)) !important;
    }

    &::after {
      background: var(--sui-color-text-disabled) !important;
    }

    .SuiRadioInput {
      cursor: not-allowed !important;
      background: transparent !important;
    }
  }
}
