@import "../../src/theme/all.css";

.ladle-main {
  color: var(--sui-color-text-body);
  background: var(--sui-color-canvas-main);
}

.ladle-aside {
  display: grid;
  grid-template-rows: auto 1fr;

  > ul {
    overflow-y: auto;
  }

  a {
    width: 100%;
    overflow-y: visible;
    border-bottom: 1px solid transparent;

    &:hover {
      color: inherit;
      border-color: currentColor;
    }
  }

  [title] {
    align-items: center;
  }
}
