@layer sui.enabled {
  @scope (.SuiFormField) {
    :scope {
      --SuiFormField-labelSizeSm:     var(--sui-label-sm-size);
      --SuiFormField-labelWeightSm:   var(--sui-label-sm-weight);
      --SuiFormField-labelLeadingSm:  var(--sui-label-sm-leading);
      --SuiFormField-labelTrackingSm: var(--sui-label-sm-tracking);
      --SuiFormField-labelSizeMd:     var(--sui-label-sm-size);
      --SuiFormField-labelWeightMd:   var(--sui-label-sm-weight);
      --SuiFormField-labelLeadingMd:  var(--sui-label-sm-leading);
      --SuiFormField-labelTrackingMd: var(--sui-label-sm-tracking);
      --SuiFormField-textSizeSm:      var(--sui-suppl-sm-size);
      --SuiFormField-textWeightSm:    var(--sui-suppl-sm-weight);
      --SuiFormField-textLeadingSm:   var(--sui-suppl-sm-leading);
      --SuiFormField-textTrackingSm:  var(--sui-suppl-sm-tracking);
      --SuiFormField-textSizeMd:      var(--sui-suppl-md-size);
      --SuiFormField-textWeightMd:    var(--sui-suppl-md-weight);
      --SuiFormField-textLeadingMd:   var(--sui-suppl-md-leading);
      --SuiFormField-textTrackingMd:  var(--sui-suppl-md-tracking);
      --SuiFormField-gap: var(--sui-space-sm);

      padding: var(--sui-ring-input);
      display: grid;
      grid-template-areas:
        "label"
        "helperText"
        "exampleText"
        "control"
        "errorText";

      &:has(.SuiFormFieldControl input:is([type=checkbox], [type=radio])) {
        --SuiFormField-labelSizeSm:     var(--sui-text-sm-size);
        --SuiFormField-labelWeightSm:   var(--sui-text-sm-weight);
        --SuiFormField-labelLeadingSm:  var(--sui-text-sm-leading);
        --SuiFormField-labelTrackingSm: var(--sui-text-sm-tracking);
        --SuiFormField-labelSizeMd:     var(--sui-text-md-size);
        --SuiFormField-labelWeightMd:   var(--sui-text-md-weight);
        --SuiFormField-labelLeadingMd:  var(--sui-text-md-leading);
        --SuiFormField-labelTrackingMd: var(--sui-text-md-tracking);
        --SuiFormField-gap: 0;

        grid-template-columns: auto 1fr;
        grid-template-areas:
          "control label"
          ". helperText"
          ". exampleText"
          ". errorText";
      }

      .SuiFormFieldLabel {
        cursor: default;
        display: block;
        grid-area: label;
        font-size: var(--SuiFormFieldLabel-size, var(--SuiFormField-labelSizeMd));
        align-self: center;
        font-weight: var(--SuiFormFieldLabel-weight, var(--SuiFormField-labelWeightMd));
        line-height: var(--SuiFormFieldLabel-leading, var(--SuiFormField-labelLeadingMd));
        margin-bottom: var(--SuiFormField-gap);
        letter-spacing: var(--SuiFormFieldLabel-tracking, var(--SuiFormField-labelTrackingMd));
      }

      &:where(:has(.SuiFormFieldControl > .Sui-size-sm)) .SuiFormFieldLabel {
        --SuiFormFieldLabel-size:     var(--SuiFormField-labelSizeSm);
        --SuiFormFieldLabel-weight:   var(--SuiFormField-labelWeightSm);
        --SuiFormFieldLabel-leading:  var(--SuiFormField-labelLeadingSm);
        --SuiFormFieldLabel-tracking: var(--SuiFormField-labelTrackingSm);
      }

      &:where(:has(.SuiFormFieldControl > .Sui-size-md)) .SuiFormFieldLabel {
        --SuiFormFieldLabel-size:     var(--SuiFormField-labelSizeMd);
        --SuiFormFieldLabel-weight:   var(--SuiFormField-labelWeightMd);
        --SuiFormFieldLabel-leading:  var(--SuiFormField-labelLeadingMd);
        --SuiFormFieldLabel-tracking: var(--SuiFormField-labelTrackingMd);
      }

      &.Sui-size-sm .SuiFormFieldLabel {
        --SuiFormFieldLabel-size:     var(--SuiFormField-labelSizeSm);
        --SuiFormFieldLabel-weight:   var(--SuiFormField-labelWeightSm);
        --SuiFormFieldLabel-leading:  var(--SuiFormField-labelLeadingSm);
        --SuiFormFieldLabel-tracking: var(--SuiFormField-labelTrackingSm);
      }

      &.Sui-size-md .SuiFormFieldLabel {
        --SuiFormFieldLabel-size:     var(--SuiFormField-labelSizeMd);
        --SuiFormFieldLabel-weight:   var(--SuiFormField-labelWeightMd);
        --SuiFormFieldLabel-leading:  var(--SuiFormField-labelLeadingMd);
        --SuiFormFieldLabel-tracking: var(--SuiFormField-labelTrackingMd);
      }

      .SuiFormFieldLabel.Sui-size-sm {
        --SuiFormFieldLabel-size:     var(--SuiFormField-labelSizeSm);
        --SuiFormFieldLabel-weight:   var(--SuiFormField-labelWeightSm);
        --SuiFormFieldLabel-leading:  var(--SuiFormField-labelLeadingSm);
        --SuiFormFieldLabel-tracking: var(--SuiFormField-labelTrackingSm);
      }

      .SuiFormFieldLabel.Sui-size-md {
        --SuiFormFieldLabel-size:     var(--SuiFormField-labelSizeMd);
        --SuiFormFieldLabel-weight:   var(--SuiFormField-labelWeightMd);
        --SuiFormFieldLabel-leading:  var(--SuiFormField-labelLeadingMd);
        --SuiFormFieldLabel-tracking: var(--SuiFormField-labelTrackingMd);
      }

      .SuiFormFieldHelperText {
        color: var(--sui-color-text-body);
        display: block;
        grid-area: helperText;
        font-size: var(--SuiFormFieldHelperText-size, var(--SuiFormField-textSizeMd));
        font-weight: var(--SuiFormFieldHelperText-weight, var(--SuiFormField-textWeightMd));
        line-height: var(--SuiFormFieldHelperText-leading, var(--SuiFormField-textLeadingMd));
        letter-spacing: var(--SuiFormFieldHelperText-tracking, var(--SuiFormField-textTrackingMd));
      }

      &:where(:has(.SuiFormFieldControl > .Sui-size-sm)) .SuiFormFieldHelperText {
        --SuiFormFieldHelperText-size:     var(--SuiFormField-textSizeSm);
        --SuiFormFieldHelperText-weight:   var(--SuiFormField-textWeightSm);
        --SuiFormFieldHelperText-leading:  var(--SuiFormField-textLeadingSm);
        --SuiFormFieldHelperText-tracking: var(--SuiFormField-textTrackingSm);
      }

      &:where(:has(.SuiFormFieldControl > .Sui-size-md)) .SuiFormFieldHelperText {
        --SuiFormFieldHelperText-size:     var(--SuiFormField-textSizeMd);
        --SuiFormFieldHelperText-weight:   var(--SuiFormField-textWeightMd);
        --SuiFormFieldHelperText-leading:  var(--SuiFormField-textLeadingMd);
        --SuiFormFieldHelperText-tracking: var(--SuiFormField-textTrackingMd);
      }

      &.Sui-size-sm .SuiFormFieldHelperText {
        --SuiFormFieldHelperText-size:     var(--SuiFormField-textSizeSm);
        --SuiFormFieldHelperText-weight:   var(--SuiFormField-textWeightSm);
        --SuiFormFieldHelperText-leading:  var(--SuiFormField-textLeadingSm);
        --SuiFormFieldHelperText-tracking: var(--SuiFormField-textTrackingSm);
      }

      &.Sui-size-md .SuiFormFieldHelperText {
        --SuiFormFieldHelperText-size:     var(--SuiFormField-textSizeMd);
        --SuiFormFieldHelperText-weight:   var(--SuiFormField-textWeightMd);
        --SuiFormFieldHelperText-leading:  var(--SuiFormField-textLeadingMd);
        --SuiFormFieldHelperText-tracking: var(--SuiFormField-textTrackingMd);
      }

      .SuiFormFieldHelperText.Sui-size-sm {
        --SuiFormFieldHelperText-size:     var(--SuiFormField-textSizeSm);
        --SuiFormFieldHelperText-weight:   var(--SuiFormField-textWeightSm);
        --SuiFormFieldHelperText-leading:  var(--SuiFormField-textLeadingSm);
        --SuiFormFieldHelperText-tracking: var(--SuiFormField-textTrackingSm);
      }

      .SuiFormFieldHelperText.Sui-size-md {
        --SuiFormFieldHelperText-size:     var(--SuiFormField-textSizeMd);
        --SuiFormFieldHelperText-weight:   var(--SuiFormField-textWeightMd);
        --SuiFormFieldHelperText-leading:  var(--SuiFormField-textLeadingMd);
        --SuiFormFieldHelperText-tracking: var(--SuiFormField-textTrackingMd);
      }

      .SuiFormFieldExampleText {
        color: var(--sui-color-text-body);
        display: block;
        grid-area: exampleText;
        font-size: var(--SuiFormFieldExampleText-size, var(--SuiFormField-textSizeMd));
        font-weight: var(--SuiFormFieldExampleText-weight, var(--SuiFormField-textWeightMd));
        line-height: var(--SuiFormFieldExampleText-leading, var(--SuiFormField-textLeadingMd));
        letter-spacing: var(--SuiFormFieldExampleText-tracking, var(--SuiFormField-textTrackingMd));
      }

      &:where(:has(.SuiFormFieldControl > .Sui-size-sm)) .SuiFormFieldExampleText {
        --SuiFormFieldExampleText-size:     var(--SuiFormField-textSizeSm);
        --SuiFormFieldExampleText-weight:   var(--SuiFormField-textWeightSm);
        --SuiFormFieldExampleText-leading:  var(--SuiFormField-textLeadingSm);
        --SuiFormFieldExampleText-tracking: var(--SuiFormField-textTrackingSm);
      }

      &:where(:has(.SuiFormFieldControl > .Sui-size-md)) .SuiFormFieldExampleText {
        --SuiFormFieldExampleText-size:     var(--SuiFormField-textSizeMd);
        --SuiFormFieldExampleText-weight:   var(--SuiFormField-textWeightMd);
        --SuiFormFieldExampleText-leading:  var(--SuiFormField-textLeadingMd);
        --SuiFormFieldExampleText-tracking: var(--SuiFormField-textTrackingMd);
      }

      &.Sui-size-sm .SuiFormFieldExampleText {
        --SuiFormFieldExampleText-size:     var(--SuiFormField-textSizeSm);
        --SuiFormFieldExampleText-weight:   var(--SuiFormField-textWeightSm);
        --SuiFormFieldExampleText-leading:  var(--SuiFormField-textLeadingSm);
        --SuiFormFieldExampleText-tracking: var(--SuiFormField-textTrackingSm);
      }

      &.Sui-size-md .SuiFormFieldExampleText {
        --SuiFormFieldExampleText-size:     var(--SuiFormField-textSizeMd);
        --SuiFormFieldExampleText-weight:   var(--SuiFormField-textWeightMd);
        --SuiFormFieldExampleText-leading:  var(--SuiFormField-textLeadingMd);
        --SuiFormFieldExampleText-tracking: var(--SuiFormField-textTrackingMd);
      }

      .SuiFormFieldExampleText.Sui-size-sm {
        --SuiFormFieldExampleText-size:     var(--SuiFormField-textSizeSm);
        --SuiFormFieldExampleText-weight:   var(--SuiFormField-textWeightSm);
        --SuiFormFieldExampleText-leading:  var(--SuiFormField-textLeadingSm);
        --SuiFormFieldExampleText-tracking: var(--SuiFormField-textTrackingSm);
      }

      .SuiFormFieldExampleText.Sui-size-md {
        --SuiFormFieldExampleText-size:     var(--SuiFormField-textSizeMd);
        --SuiFormFieldExampleText-weight:   var(--SuiFormField-textWeightMd);
        --SuiFormFieldExampleText-leading:  var(--SuiFormField-textLeadingMd);
        --SuiFormFieldExampleText-tracking: var(--SuiFormField-textTrackingMd);
      }

      .SuiFormFieldErrorText {
        display: none;
      }

      &:has(.SuiFormFieldControl input:is([aria-invalid=true], :user-invalid)) .SuiFormFieldErrorText {
        color: var(--sui-color-error-text-lc);
        display: block;
        grid-area: errorText;
        font-size: var(--SuiFormFieldErrorText-size, var(--SuiFormField-textSizeMd));
        margin-top: var(--SuiFormField-gap);
        font-weight: var(--SuiFormFieldErrorText-weight, var(--SuiFormField-textWeightMd));
        line-height: var(--SuiFormFieldErrorText-leading, var(--SuiFormField-textLeadingMd));
        letter-spacing: var(--SuiFormFieldErrorText-tracking, var(--SuiFormField-textTrackingMd));
      }

      &:where(:has(.SuiFormFieldControl > .Sui-size-sm)) .SuiFormFieldErrorText {
        --SuiFormFieldErrorText-size:     var(--SuiFormField-textSizeSm);
        --SuiFormFieldErrorText-weight:   var(--SuiFormField-textWeightSm);
        --SuiFormFieldErrorText-leading:  var(--SuiFormField-textLeadingSm);
        --SuiFormFieldErrorText-tracking: var(--SuiFormField-textTrackingSm);
      }

      &:where(:has(.SuiFormFieldControl > .Sui-size-md)) .SuiFormFieldErrorText {
        --SuiFormFieldErrorText-size:     var(--SuiFormField-textSizeMd);
        --SuiFormFieldErrorText-weight:   var(--SuiFormField-textWeightMd);
        --SuiFormFieldErrorText-leading:  var(--SuiFormField-textLeadingMd);
        --SuiFormFieldErrorText-tracking: var(--SuiFormField-textTrackingMd);
      }

      &.Sui-size-sm .SuiFormFieldErrorText {
        --SuiFormFieldErrorText-size:     var(--SuiFormField-textSizeSm);
        --SuiFormFieldErrorText-weight:   var(--SuiFormField-textWeightSm);
        --SuiFormFieldErrorText-leading:  var(--SuiFormField-textLeadingSm);
        --SuiFormFieldErrorText-tracking: var(--SuiFormField-textTrackingSm);
      }

      &.Sui-size-md .SuiFormFieldErrorText {
        --SuiFormFieldErrorText-size:     var(--SuiFormField-textSizeMd);
        --SuiFormFieldErrorText-weight:   var(--SuiFormField-textWeightMd);
        --SuiFormFieldErrorText-leading:  var(--SuiFormField-textLeadingMd);
        --SuiFormFieldErrorText-tracking: var(--SuiFormField-textTrackingMd);
      }

      .SuiFormFieldErrorText.Sui-size-sm {
        --SuiFormFieldErrorText-size:     var(--SuiFormField-textSizeSm);
        --SuiFormFieldErrorText-weight:   var(--SuiFormField-textWeightSm);
        --SuiFormFieldErrorText-leading:  var(--SuiFormField-textLeadingSm);
        --SuiFormFieldErrorText-tracking: var(--SuiFormField-textTrackingSm);
      }

      .SuiFormFieldErrorText.Sui-size-md {
        --SuiFormFieldErrorText-size:     var(--SuiFormField-textSizeMd);
        --SuiFormFieldErrorText-weight:   var(--SuiFormField-textWeightMd);
        --SuiFormFieldErrorText-leading:  var(--SuiFormField-textLeadingMd);
        --SuiFormFieldErrorText-tracking: var(--SuiFormField-textTrackingMd);
      }

      .SuiFormFieldControl {
        display: flex;
        grid-area: control;
        align-items: center;
      }

      &:has(:is(.SuiFormFieldHelperText, .SuiFormFieldExampleText)) .SuiFormFieldControl {
        margin-top: var(--SuiFormField-gap);
      }
    }
  }
}

@layer sui.disabled {
  @scope (.SuiFormField) {
    :scope:has(.SuiFormFieldControl:is(:disabled, [disabled])) {
      cursor: not-allowed !important;
    }
  }
}
