@layer sui.enabled {
  @scope (.SuiButton) {
    :scope {
      /*
       * Root
       * --SuiButton-px
       * --SuiButton-gap
       * --SuiButton-size
       * --SuiButton-align
       * --SuiButton-radius
       */

      gap: var(--SuiButton-gap);
      width: fit-content;
      height: var(--SuiButton-size);
      display: inline-flex;
      position: relative;
      list-style: none;
      align-items: center;
      border-radius: var(--SuiButton-radius);
      padding-inline: var(--SuiButton-px);
      vertical-align: baseline;
      justify-content: var(--SuiButton-align);
      text-decoration: none;

      &.Sui-align-center {
        --SuiButton-align: center;
      }

      &.Sui-align-start {
        --SuiButton-align: flex-start;
      }

      &.Sui-align-end {
        --SuiButton-align: flex-end;
      }

      &.Sui-size-sm {
        --SuiButton-size:   var(--sui-size-sm);
        --SuiButton-px:     var(--sui-space-md);
        --SuiButton-gap:    var(--sui-space-sm);
        --SuiButton-radius: var(--sui-radius-md);
      }

      &.Sui-size-md {
        --SuiButton-size:   var(--sui-size-md);
        --SuiButton-px:     var(--sui-space-md);
        --SuiButton-gap:    var(--sui-space-sm);
        --SuiButton-radius: var(--sui-radius-md);
      }

      &.Sui-size-lg {
        --SuiButton-size:   var(--sui-size-lg);
        --SuiButton-px:     var(--sui-space-lg);
        --SuiButton-gap:    var(--sui-space-md);
        --SuiButton-radius: var(--sui-radius-lg);
      }

      &.Sui-size-xl {
        --SuiButton-size:   var(--sui-size-xl);
        --SuiButton-px:     var(--sui-space-lg);
        --SuiButton-gap:    var(--sui-space-md);
        --SuiButton-radius: var(--sui-radius-lg);
      }

      &.Sui-fullWidth {
        width: 100%;
      }

      /*
       * Text
       * --SuiButtonText-size
       * --SuiButtonText-align
       * --SuiButtonText-weight
       * --SuiButtonText-leading
       * --SuiButtonText-tracking
       */

      .SuiButtonText {
        --SuiButtonText-size:     var(--sui-button-size);
        --SuiButtonText-weight:   var(--sui-button-weight);
        --SuiButtonText-leading:  var(--sui-button-leading);
        --SuiButtonText-tracking: var(--sui-button-tracking);

        width: auto;
        display: inline-grid;
        font-size: var(--SuiButtonText-size);
        align-items: center;
        font-weight: var(--SuiButtonText-weight);
        line-height: var(--SuiButtonText-leading);
        white-space: nowrap;
        letter-spacing: var(--SuiButtonText-tracking);
        justify-content: var(--SuiButtonText-align);

        &.Sui-align-center {
          --SuiButtonText-align: center;
        }

        &.Sui-align-start {
          --SuiButtonText-align: flex-start;
        }

        &.Sui-align-end {
          --SuiButtonText-align: flex-end;
        }

        &.Sui-fullWidth {
          flex: 1;
        }
      }

      &:any-link .SuiButtonText {
        text-decoration: inherit;
      }

      &.Sui-size-xl .SuiButtonText {
        /* TODO: ボタンのサイズに合わせたテキストの情報をデザイントークンに入れるか検討 */
        --SuiButtonText-size: calc(var(--sui-button-size) * 1.25);
      }

      /*
       * Adornment
       * --SuiButtonAdornment-size
       * --SuiButtonAdornment-weight
       * --SuiButtonAdornment-leading
       * --SuiButtonAdornment-tracking
       */
  
      .SuiButtonAdornment {
        --SuiButtonAdornment-size:     var(--sui-button-size);
        --SuiButtonAdornment-weight:   var(--sui-button-weight);
        --SuibuttonAdornment-leading:  var(--sui-button-leading);
        --SuiButtonAdornment-tracking: var(--sui-button-tracking);

        width: auto;
        display: inline-grid;
        font-size: var(--SuiButtonAdornment-size);
        transform: translateY(0.05em);
        font-weight: var(--SuiButtonAdornment-weight);
        place-items: center;
  
        /* 余分な gap を消す */
        &:empty {
          display: none;
        }
      }

      &.Sui-size-xl .SuiButtonAdornment {
        --SuiButtonAdornment-size: calc(var(--sui-button-size) * 1.25);
      }

      /* variant="menuitem" */
  
      &.Sui-menuitem.Sui-variant-naked :is(.SuiButtonText, .SuiButtonAdornment) {
        --SuiButtonText-weight:      var(--sui-font-normal);
        --SuiButtonAdornment-weight: var(--sui-font-normal);
      }

      &.Sui-menuitem.Sui-variant-solid :is(.SuiButtonText, .SuiButtonAdornment) {
        --SuiButtonText-weight:      var(--sui-font-bold);
        --SuiButtonAdornment-weight: var(--sui-font-bold);
      }

      /* loading={true} */

      &.Sui-loading {
        .SuiButtonText,
        .SuiButtonAdornment {
          height: 0;
          opacity: 0;
        }

        .SuiButtonLoader {
          position: absolute;
        }
      }
    }
  }
}

@layer sui.disabled {
  @scope (.SuiButton) {
    :scope:is(:disabled, [disabled], [data-disabled]) {}
  }
}
