@layer sui;
@layer sui.reset;
@layer sui.tokens;
@layer sui.static;
@layer sui.dynamic;
@layer sui.disabled;

@layer sui.reset {
  .sui-reset,
  [class^="Sui"],
  [class*=" Sui"] {
    &,
    &::after,
    &::before {
      all: unset;
      margin: 0;
      display: revert;
      padding: 0;
      box-sizing: border-box;
    }
  }
}
