@layer sui.tokens {
  :root,
  [data-theme=light] {
    --sui-color-grey-50:   var(---color-grey-50);
    --sui-color-grey-100:  var(---color-grey-100);
    --sui-color-grey-200:  var(---color-grey-200);
    --sui-color-grey-300:  var(---color-grey-300);
    --sui-color-grey-400:  var(---color-grey-400);
    --sui-color-grey-500:  var(---color-grey-420);
    --sui-color-grey-600:  var(---color-grey-500);
    --sui-color-grey-700:  var(---color-grey-536);
    --sui-color-grey-800:  var(---color-grey-600);
    --sui-color-grey-900:  var(---color-grey-700);
    --sui-color-grey-1000: var(---color-grey-800);
    --sui-color-grey-1100: var(---color-grey-900);
    --sui-color-grey-1200: var(---color-black);

    --sui-color-grey-alpha-50:   hsl(0 0% 15% / 0.06);
    --sui-color-grey-alpha-100:  hsl(0 0% 2% / 0.1);
    --sui-color-grey-alpha-200:  hsl(0 0% 0% / 0.2);
    --sui-color-grey-alpha-300:  hsl(0 0% 1% / 0.3);
    --sui-color-grey-alpha-400:  hsl(0 0% 0% / 0.4);
    --sui-color-grey-alpha-500:  hsl(0 0% 1% / 0.42);
    --sui-color-grey-alpha-600:  hsl(0 0% 2% / 0.51);
    --sui-color-grey-alpha-700:  hsl(0 0% 0% / 0.54);
    --sui-color-grey-alpha-800:  hsl(0 0% 0% / 0.6);
    --sui-color-grey-alpha-900:  hsl(0 0% 0% / 0.7);
    --sui-color-grey-alpha-1000: hsl(0 0% 0% / 0.8);
    --sui-color-grey-alpha-1100: hsl(0 0% 0% / 0.9);
    --sui-color-grey-alpha-1200: var(---color-black);

    --sui-color-grey-naked-canvas:     transparent;
    --sui-color-grey-naked-subtle:     var(--sui-color-grey-alpha-100);
    --sui-color-grey-naked-action:     var(--sui-color-grey-alpha-200);
    --sui-color-grey-naked-canvasText: var(--sui-color-grey-1200);

    --sui-color-grey-solid-canvas:     var(--sui-color-grey-1200);
    --sui-color-grey-solid-subtle:     var(--sui-color-grey-1000);
    --sui-color-grey-solid-action:     var(--sui-color-grey-800);
    --sui-color-grey-solid-canvasText: var(--sui-color-grey-50);

    --sui-color-grey-liquid-canvas:     var(--sui-color-grey-alpha-100);
    --sui-color-grey-liquid-subtle:     var(--sui-color-grey-alpha-200);
    --sui-color-grey-liquid-action:     var(--sui-color-grey-alpha-300);
    --sui-color-grey-liquid-canvasText: var(--sui-color-grey-1200);

    --sui-color-blue-50:   var(---color-blue-50);
    --sui-color-blue-100:  var(---color-blue-100);
    --sui-color-blue-200:  var(---color-blue-200);
    --sui-color-blue-300:  var(---color-blue-300);
    --sui-color-blue-400:  var(---color-blue-400);
    --sui-color-blue-500:  var(---color-blue-500);
    --sui-color-blue-600:  var(---color-blue-600);
    --sui-color-blue-700:  var(---color-blue-700);
    --sui-color-blue-800:  var(---color-blue-800);
    --sui-color-blue-900:  var(---color-blue-900);
    --sui-color-blue-1000: var(---color-blue-1000);
    --sui-color-blue-1100: var(---color-blue-1100);
    --sui-color-blue-1200: var(---color-blue-1200);

    --sui-color-blue-alpha-50:   hsl(215 92% 53% / 0.1);
    --sui-color-blue-alpha-100:  hsl(220 100% 50% / 0.15);
    --sui-color-blue-alpha-200:  hsl(220 98% 47% / 0.23);
    --sui-color-blue-alpha-300:  hsl(223 97% 48% / 0.39);
    --sui-color-blue-alpha-400:  hsl(223 97% 48% / 0.57);
    --sui-color-blue-alpha-500:  hsl(223 98% 48% / 0.72);
    --sui-color-blue-alpha-600:  hsl(227 99% 49% / 0.8);
    --sui-color-blue-alpha-700:  hsl(229 98% 48% / 0.86);
    --sui-color-blue-alpha-800:  hsl(226 100% 42% / 1);
    --sui-color-blue-alpha-900:  hsl(233 100% 38% / 1);
    --sui-color-blue-alpha-1000: hsl(233 100% 28% / 1);
    --sui-color-blue-alpha-1100: hsl(240 100% 22% / 1);
    --sui-color-blue-alpha-1200: hsl(240 100% 19% / 1);

    --sui-color-blue-naked-canvas:     transparent;
    --sui-color-blue-naked-subtle:     var(--sui-color-blue-alpha-100);
    --sui-color-blue-naked-action:     var(--sui-color-blue-alpha-200);
    --sui-color-blue-naked-canvasText: var(--sui-color-blue-800);

    --sui-color-blue-solid-canvas:     var(--sui-color-blue-800);
    --sui-color-blue-solid-subtle:     var(--sui-color-blue-900);
    --sui-color-blue-solid-action:     var(--sui-color-blue-1100);
    --sui-color-blue-solid-canvasText: var(--sui-color-blue-50);

    --sui-color-blue-liquid-canvas:     var(--sui-color-blue-alpha-100);
    --sui-color-blue-liquid-subtle:     var(--sui-color-blue-alpha-200);
    --sui-color-blue-liquid-action:     var(--sui-color-blue-alpha-300);
    --sui-color-blue-liquid-canvasText: var(--sui-color-blue-1000);

    --sui-color-green-50:   var(---color-green-50);
    --sui-color-green-100:  var(---color-green-100);
    --sui-color-green-200:  var(---color-green-200);
    --sui-color-green-300:  var(---color-green-300);
    --sui-color-green-400:  var(---color-green-400);
    --sui-color-green-500:  var(---color-green-500);
    --sui-color-green-600:  var(---color-green-600);
    --sui-color-green-700:  var(---color-green-700);
    --sui-color-green-800:  var(---color-green-800);
    --sui-color-green-900:  var(---color-green-900);
    --sui-color-green-1000: var(---color-green-1000);
    --sui-color-green-1100: var(---color-green-1100);
    --sui-color-green-1200: var(---color-green-1200);

    --sui-color-green-alpha-50:   hsl(144 94% 31% / 0.1);
    --sui-color-green-alpha-100:  hsl(145 99% 29% / 0.24);
    --sui-color-green-alpha-200:  hsl(147 94% 30% / 0.4);
    --sui-color-green-alpha-300:  hsl(148 99% 30% / 0.56);
    --sui-color-green-alpha-400:  hsl(149 96% 30% / 0.69);
    --sui-color-green-alpha-500:  hsl(151 99% 31% / 0.83);
    --sui-color-green-alpha-600:  hsl(151 97% 28% / 0.86);
    --sui-color-green-alpha-700:  hsl(151 98% 25% / 0.89);
    --sui-color-green-alpha-800:  hsl(151 96% 22% / 0.91);
    --sui-color-green-alpha-900:  hsl(150 95% 16% / 0.94);
    --sui-color-green-alpha-1000: hsl(150 94% 13% / 0.96);
    --sui-color-green-alpha-1100: hsl(151 100% 9% / 0.97);
    --sui-color-green-alpha-1200: hsl(152 100% 6% / 0.99);

    --sui-color-green-naked-canvas:     transparent;
    --sui-color-green-naked-subtle:     var(--sui-color-green-alpha-100);
    --sui-color-green-naked-action:     var(--sui-color-green-alpha-200);
    --sui-color-green-naked-canvasText: var(--sui-color-green-900);

    --sui-color-green-solid-canvas:     var(--sui-color-green-900);
    --sui-color-green-solid-subtle:     var(--sui-color-green-1000);
    --sui-color-green-solid-action:     var(--sui-color-green-1200);
    --sui-color-green-solid-canvasText: var(--sui-color-green-50);

    --sui-color-green-liquid-canvas:     var(--sui-color-green-alpha-100);
    --sui-color-green-liquid-subtle:     var(--sui-color-green-alpha-200);
    --sui-color-green-liquid-action:     var(--sui-color-green-alpha-300);
    --sui-color-green-liquid-canvasText: var(--sui-color-green-1100);

    --sui-color-yellow-50:   var(---color-yellow-50);
    --sui-color-yellow-100:  var(---color-yellow-100);
    --sui-color-yellow-200:  var(---color-yellow-200);
    --sui-color-yellow-300:  var(---color-yellow-300);
    --sui-color-yellow-400:  var(---color-yellow-400);
    --sui-color-yellow-500:  var(---color-yellow-500);
    --sui-color-yellow-600:  var(---color-yellow-600);
    --sui-color-yellow-700:  var(---color-yellow-700);
    --sui-color-yellow-800:  var(---color-yellow-800);
    --sui-color-yellow-900:  var(---color-yellow-900);
    --sui-color-yellow-1000: var(---color-yellow-1000);
    --sui-color-yellow-1100: var(---color-yellow-1100);
    --sui-color-yellow-1200: var(---color-yellow-1200);

    --sui-color-yellow-alpha-50:   hsl(47 86% 47% / 0.13);
    --sui-color-yellow-alpha-100:  hsl(48 100% 50% / 0.3);
    --sui-color-yellow-alpha-200:  hsl(47 100% 50% / 0.5);
    --sui-color-yellow-alpha-300:  hsl(47 100% 51% / 0.77);
    --sui-color-yellow-alpha-400:  hsl(47 100% 50% / 1);
    --sui-color-yellow-alpha-500:  hsl(47 100% 46% / 1);
    --sui-color-yellow-alpha-600:  hsl(47 100% 41% / 1);
    --sui-color-yellow-alpha-700:  hsl(47 100% 36% / 1);
    --sui-color-yellow-alpha-800:  hsl(47 100% 32% / 1);
    --sui-color-yellow-alpha-900:  hsl(47 100% 29% / 1);
    --sui-color-yellow-alpha-1000: hsl(46 100% 25% / 1);
    --sui-color-yellow-alpha-1100: hsl(47 100% 22% / 1);
    --sui-color-yellow-alpha-1200: hsl(47 100% 19% / 1);

    --sui-color-yellow-naked-canvas:     transparent;
    --sui-color-yellow-naked-subtle:     var(--sui-color-yellow-alpha-100);
    --sui-color-yellow-naked-action:     var(--sui-color-yellow-alpha-200);
    --sui-color-yellow-naked-canvasText: var(--sui-color-yellow-900);

    --sui-color-yellow-solid-canvas:     var(--sui-color-yellow-900);
    --sui-color-yellow-solid-subtle:     var(--sui-color-yellow-1000);
    --sui-color-yellow-solid-action:     var(--sui-color-yellow-1200);
    --sui-color-yellow-solid-canvasText: var(--sui-color-yellow-50);

    --sui-color-yellow-liquid-canvas:     var(--sui-color-yellow-alpha-100);
    --sui-color-yellow-liquid-subtle:     var(--sui-color-yellow-alpha-200);
    --sui-color-yellow-liquid-action:     var(--sui-color-yellow-alpha-300);
    --sui-color-yellow-liquid-canvasText: var(--sui-color-yellow-1100);

    --sui-color-red-50:   var(---color-red-50);
    --sui-color-red-100:  var(---color-red-100);
    --sui-color-red-200:  var(---color-red-200);
    --sui-color-red-300:  var(---color-red-300);
    --sui-color-red-400:  var(---color-red-400);
    --sui-color-red-500:  var(---color-red-500);
    --sui-color-red-600:  var(---color-red-600);
    --sui-color-red-700:  var(---color-red-700);
    --sui-color-red-800:  var(---color-red-800);
    --sui-color-red-900:  var(---color-red-900);
    --sui-color-red-1000: var(---color-red-1000);
    --sui-color-red-1100: var(---color-red-1100);
    --sui-color-red-1200: var(---color-red-1200);

    --sui-color-red-alpha-50:   hsl(0 90% 47% / 0.07);
    --sui-color-red-alpha-100:  hsl(0 100% 52% / 0.15);
    --sui-color-red-alpha-200:  hsl(0 100% 51% / 0.27);
    --sui-color-red-alpha-300:  hsl(0 100% 51% / 0.42);
    --sui-color-red-alpha-400:  hsl(0 100% 51% / 0.42);
    --sui-color-red-alpha-500:  hsl(0 100% 51% / 0.68);
    --sui-color-red-alpha-600:  hsl(0 99% 50% / 0.78);
    --sui-color-red-alpha-700:  hsl(0 100% 49% / 1);
    --sui-color-red-alpha-800:  hsl(0 100% 46% / 1);
    --sui-color-red-alpha-900:  hsl(0 100% 40% / 1);
    --sui-color-red-alpha-1000: hsl(0 100% 33% / 1);
    --sui-color-red-alpha-1100: hsl(0 100% 26% / 1);
    --sui-color-red-alpha-1200: hsl(0 100% 19% / 1);

    --sui-color-red-naked-canvas:     transparent;
    --sui-color-red-naked-subtle:     var(--sui-color-red-alpha-100);
    --sui-color-red-naked-action:     var(--sui-color-red-alpha-200);
    --sui-color-red-naked-canvasText: var(--sui-color-red-900);

    --sui-color-red-solid-canvas:     var(--sui-color-red-900);
    --sui-color-red-solid-subtle:     var(--sui-color-red-1000);
    --sui-color-red-solid-action:     var(--sui-color-red-1200);
    --sui-color-red-solid-canvasText: var(--sui-color-red-50);

    --sui-color-red-liquid-canvas:     var(--sui-color-red-alpha-100);
    --sui-color-red-liquid-subtle:     var(--sui-color-red-alpha-200);
    --sui-color-red-liquid-action:     var(--sui-color-red-alpha-300);
    --sui-color-red-liquid-canvasText: var(--sui-color-red-1100);

    --sui-color-orange-700: var(---color-orange-700);

    --sui-color-magenta-900: var(---color-magenta-900);

    --sui-body-canvas:     var(---color-white);
    --sui-body-canvasText: var(---color-black);

    --sui-paper-canvasText: var(--sui-body-canvas);

    --sui-disabled-canvas:     var(--sui-color-grey-600);
    --sui-disabled-canvasText: var(--sui-color-grey-400);

    --sui-description-canvasText: var(--sui-color-grey-700);

    --sui-linkText-normal:  var(--sui-color-blue-1000);
    --sui-linkText-hover:   var(--sui-color-blue-900);
    --sui-linkText-active:  var(--sui-color-orange-700);
    --sui-linkText-visited: var(--sui-color-magenta-900);

    --sui-focusRing-color: var(--sui-color-yellow-700);
    --sui-focusRing-width: var(--sui-border-md);

    --sui-shadow-xs: 0 1px  5px 0 rgb(0 0 0 / .30), 0  2px 8px  0   rgb(0 0 0 /.10);
    --sui-shadow-sm: 0 1px  6px 0 rgb(0 0 0 / .30), 0  2px 12px 2px rgb(0 0 0 /.10);
    --sui-shadow-md: 0 2px  6px 0 rgb(0 0 0 / .30), 0  6px 20px 4px rgb(0 0 0 /.10);
    --sui-shadow-lg: 0 3px 12px 0 rgb(0 0 0 / .30), 0 10px 30px 6px rgb(0 0 0 /.10);
    --sui-shadow-xl: 0 3px 16px 0 rgb(0 0 0 / .30), 0 14px 40px 7px rgb(0 0 0 /.10);

    --sui-overlay-shade: #22222280;
    --sui-overlay-blur:  10px;
  }
}
